{%- for message in messages -%}
{%- if message['role'] == 'system' -%}
{{- '<|system|>\n' + message['content'] + '\n' -}}
{%- elif message['role'] == 'user' -%}
{{- '<|user|>\n' + message['content'] + '\n' -}}
{%- elif message['role'] == 'assistant' -%}
{{- '<|assistant|>\n' + message['content'] + '<|endoftext|>' + '\n' -}}
{%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}
{{- '<|assistant|>\n' -}}
{%- endif -%}
